* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
}

#main-container {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
}



/* Navigation section started */
.nav-items {
    list-style: none;
}

.logo-container > img {
    width: 130px;
}

.nav-item > a {
    text-decoration: none; 
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-items {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

.navigation {
    width: 50%;
}


.nav-item > a {
    color: grey;
    margin-top: 7px;
    display: inline-block;
}

.nav-item-first > a {
    color: black;
}

#register-now-button {
    color: #1ea1f3;
    background-color: white;
    font-weight: 600;
    padding: 8px;
    border-radius: 5px;
    border: solid 1px #1ea1f3;
}

#register-now-button:hover {
    cursor: pointer;
}
/* Navigation section ended */


/* section 1 css */
section {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3%;
}

.content-area {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content-area h1 {
    font-size: 3rem;
    margin-bottom: 2%;
}

.content-area p {
    color: grey;
    margin-bottom: 3%;
}

.button-container > button {
    background-color:#1ea1f3;
    color: white;
    padding: 10px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}


.section-image-container {
    flex: 1;
}

.section-image-container > img {
    margin-left: 10%;
}

.support-container {
    display: flex;
}



/* Inside services container */
.heading-para-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 4%;
}

.heading-para-container > h1 {
    display: inline-block;
    min-width: 40%;
}

.heading-para-container > p {
    display: inline-block;
    width: 40%;
    color: grey;
}



/* handling cards */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    display: flex;
    padding: 20px;
    margin: 20px;
    width: 300px;
    display: inline-block;
}

.card-heading-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-detail-container p {
    color: grey;
}

.icon-container > img {
    width: 50px;
}

.cards-container {
    margin-bottom: 5%;
}
/* cards section done */



/* Pricing container starts here */
.pricing-container {
    background-image: linear-gradient(to top right, #09c1f8 , #067eee);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-container ul {
    list-style-position: inside;
    list-style-image: url(assets/tick.png);
}

.pricing-container ul > li {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.1rem;
    font-weight: 500;
}

.pricing-heading-container {
    padding: 1%;
}

.pricing-heading {
    margin: auto;
    color: white;
    font-weight: 400;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    padding-bottom: 2%;
}

.tile {
    margin: 1%;
    background-color: white;
    height: 500px;
    width: 300px;
    border-radius: 15px;
}

.tile-heading-container {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 3%;

}

.tile-detail-container p {
    color: grey;
}

.tile-detail-container {
    margin-bottom: 15%;
    padding-left: 3%;
}

.tile-bullets {
    padding-left: 3%;
}

.tile-pricing-container {
    margin-top: 20%;
}

.tile-pricing-container h3{
    display: inline-block;
    margin-left: 25%;
}


.choose-plan-button {
    padding: 2% 4% 2% 4%;
    margin-left: 30%;
    margin-top: 2%;
    color:#067eee;
    background-color: transparent;
    font-weight: 600;
    border: solid 2px #067eee;
    border-radius: 5px;
}

.choose-plan-button-blue {
    color: white;
    background-color: #067eee;
}

button:hover {
    cursor: pointer;
}

.price {
    font-size: 1.4rem;
}

.price > span {
    color: grey;
    font-size: 1.4rem;
}

.cancel-anytime-text-container {
    margin-left: 15%;
}

.cancel-anytime-text {
    color: grey;
    font-size: 0.8rem;
    display: inline-block;
    padding: 5px;
    margin-left: 20%;
}

.middle-tile-top-section {
    height: 100px;
}

.middle-tile-top-section , .middle-tile-top-section p{
    background-color: black;
    border-radius: 12px;
    color: white;
}
/* Pricing section completes here */


/* Testimonial section starts here */
.testimonial-container {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.author-container {
    margin: 2%;
}

.author-name-container {
    display: inline-block;
}

.testimonial-detail-container {
    padding: 4%;
    color: grey;
}

.kards {
    justify-content: center;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.kard {
    padding: 2%;
    margin: 2%;
    width: 400px;
    border: solid 1px lightgray;
    border-radius: 12px;
}

.author-container {
    position: relative;
}

.author-image-container {
    border-radius: 50%;
    display: inline-block;
    height: 60px;
    width: 60px;
    background-color: grey;
}

.author-post-container {
    position: absolute;
    top: 25px;
    left: 65px;
}
/* Testimonial section completes here */



/* Quit worrying section starts here */
.quit-worrying-container {
    background-image: linear-gradient(to top right, #09c1f8 , #067eee);
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    color: white;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.left {
    width: 50%;
}

.quit-worrying-heading {
    font-size: 3.5rem;
    margin-bottom: 3%;
}

.quit-worrying-detail-container {
    width: 75%;
    font-size: 0.8rem;
}

.worrying-button button {
    margin-top: 60%;
    background-color: transparent;
    color: white;
    font-weight: 500;
    border-radius: 12px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 1px white;
}
/* Quit worrying section ends here */



/* last section starts here */
.last-section {
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.last-section ul {
    list-style-type: none;
}

.logo-section {
    width: 500px;
    color: grey;
}


.logo-section img {
    width: 100px;
}

.menu-section li, .links-section li, .overview-section li, .social-media-section li {
    color: grey;
    margin-top: 12%;
    margin-bottom: 12%;
}

.menu-section, .links-section, .overview-section {
    width: 100px;
}

.social-media-section {
    width: 250px;
}

.social-media-section h3 {
    margin-left: 50px;  
}
/* last section ends here */


/* Media query starts here */
@media screen and (max-width: 990px) {
    .navigation {
        width: 80%;
    }
}


@media screen and (max-width: 670px) {
    .logo-container {
        display: none;
    }

    .navigation {
        width: 100%;
    }
}


/* Code for mobile screen nav-bar */
.bars{
    display: none;
    color: white;
    margin: 0; 
    margin-right: 5%;
   
}

.bars i {
    font-size: 2rem;
} 

.dropdown-list {
    z-index: 1;
    margin: 0;
    display: none;
    background-color:#067eee;
    box-shadow: 0px 4px 8px 1px #535547;
} 

.dropdown-list ul{
    margin: 0.2rem 0.2rem;
    text-align: left;
    padding: 0px 0.8rem;
}

.dropdown-list li{
    margin: 0.4rem 0px;
}

.dropdown-menu:hover .dropdown-list{
    display: block;
    position: absolute;
    right: 3%; 
}

.dropdown-list:hover .nav-menu {
    display: block;
    border: solid 2px red;
}

.no-list-style {
    list-style: none;
}

.no-list-style li {
    font-weight: 100;
    font-weight: 0.9rem;
}

.no-list-style li a {
    color: white;
    text-decoration: none;
}
.no-list-style li a:hover {
    border-bottom: solid 1px lightgray;
}

.horizontal-list li {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 10px;
}

.text-right {
    text-align: right;
}



@media screen and (max-width: 500px) {
    .navigation {
      display: none;
    }

    .nav-menu {
        display: none;
    } 

    .bars {
        color: black;
        margin: 0;
        margin-right: 5%;
        display: block;
    }
    .bars i {
        font-size: 2rem;
    }

}


